Build started...
Build succeeded.
START TRANSACTION;
ALTER TABLE action_executions DROP CONSTRAINT "FK_action_executions_action_definitions_ActionDefinitionId";

ALTER TABLE action_executions DROP CONSTRAINT "FK_action_executions_call_sessions_CallSessionId";

ALTER TABLE action_executions DROP CONSTRAINT "FK_action_executions_workflow_executions_WorkflowExecutionId";

ALTER TABLE identity.api_keys DROP CONSTRAINT "FK_api_keys_users_UserId";

ALTER TABLE call_configuration_actions DROP CONSTRAINT "FK_call_configuration_actions_action_definitions_ActionDefinit~";

ALTER TABLE call_configuration_actions DROP CONSTRAINT "FK_call_configuration_actions_call_configurations_CallConfigur~";

ALTER TABLE call_configurations DROP CONSTRAINT "FK_call_configurations_personas_PersonaId";

ALTER TABLE call_configurations DROP CONSTRAINT "FK_call_configurations_users_UserId";

ALTER TABLE call_configurations DROP CONSTRAINT "FK_call_configurations_workflows_WorkflowId";

ALTER TABLE call_handoffs DROP CONSTRAINT "FK_call_handoffs_call_participants_FromParticipantId";

ALTER TABLE call_handoffs DROP CONSTRAINT "FK_call_handoffs_call_sessions_CallSessionId";

ALTER TABLE call_handoffs DROP CONSTRAINT "FK_call_handoffs_call_transfers_CallTransferId";

ALTER TABLE call_handoffs DROP CONSTRAINT "FK_call_handoffs_human_agents_ToHumanAgentId";

ALTER TABLE call_legs DROP CONSTRAINT "FK_call_legs_call_sessions_CallSessionId";

ALTER TABLE call_participants DROP CONSTRAINT "FK_call_participants_call_sessions_CallSessionId";

ALTER TABLE call_participants DROP CONSTRAINT "FK_call_participants_human_agents_HumanAgentId";

ALTER TABLE call_recordings DROP CONSTRAINT "FK_call_recordings_call_sessions_CallSessionId";

ALTER TABLE call_records DROP CONSTRAINT "FK_call_records_agent_users_HandledByAgentId";

ALTER TABLE call_sessions DROP CONSTRAINT "FK_call_sessions_api_keys_ApiKeyId";

ALTER TABLE call_sessions DROP CONSTRAINT "FK_call_sessions_call_configurations_CallConfigurationId";

ALTER TABLE call_sessions DROP CONSTRAINT "FK_call_sessions_persona_versions_PersonaVersionId";

ALTER TABLE call_sessions DROP CONSTRAINT "FK_call_sessions_sip_connections_OriginSipConnectionId";

ALTER TABLE call_sessions DROP CONSTRAINT "FK_call_sessions_users_UserId";

ALTER TABLE call_sessions DROP CONSTRAINT "FK_call_sessions_workflow_versions_WorkflowVersionId";

ALTER TABLE call_transfers DROP CONSTRAINT "FK_call_transfers_call_participants_FromParticipantId";

ALTER TABLE call_transfers DROP CONSTRAINT "FK_call_transfers_call_sessions_CallSessionId";

ALTER TABLE call_transfers DROP CONSTRAINT "FK_call_transfers_human_agents_ToHumanAgentId";

ALTER TABLE call_transfers DROP CONSTRAINT "FK_call_transfers_sip_destinations_DestinationId";

ALTER TABLE human_agent_access_keys DROP CONSTRAINT "FK_human_agent_access_keys_human_agents_HumanAgentId";

ALTER TABLE human_agent_sessions DROP CONSTRAINT "FK_human_agent_sessions_human_agents_HumanAgentId";

ALTER TABLE human_agents DROP CONSTRAINT "FK_human_agents_users_ApplicationUserId";

ALTER TABLE human_agents DROP CONSTRAINT "FK_human_agents_users_OwnerUserId";

ALTER TABLE configuration.knowledge_bases DROP CONSTRAINT "FK_knowledge_bases_users_UserId";

ALTER TABLE knowledge_chunks DROP CONSTRAINT "FK_knowledge_chunks_knowledge_documents_KnowledgeDocumentId";

ALTER TABLE knowledge_documents DROP CONSTRAINT "FK_knowledge_documents_knowledge_bases_KnowledgeBaseId";

ALTER TABLE identity.licenses DROP CONSTRAINT "FK_licenses_partner_plans_PartnerPlanId";

ALTER TABLE identity.licenses DROP CONSTRAINT "FK_licenses_partners_PartnerId";

ALTER TABLE identity.licenses DROP CONSTRAINT "FK_licenses_users_UserId";

ALTER TABLE identity.partner_external_customers DROP CONSTRAINT "FK_partner_external_customers_partners_PartnerId";

ALTER TABLE identity.partner_external_customers DROP CONSTRAINT "FK_partner_external_customers_users_PlatformUserId";

ALTER TABLE identity.partner_plans DROP CONSTRAINT "FK_partner_plans_partners_PartnerId";

ALTER TABLE identity.partner_relationships DROP CONSTRAINT "FK_partner_relationships_partners_PartnerId";

ALTER TABLE identity.partner_relationships DROP CONSTRAINT "FK_partner_relationships_users_CustomerUserId";

ALTER TABLE identity.partner_relationships DROP CONSTRAINT "FK_partner_relationships_users_UserId";

ALTER TABLE identity.partners DROP CONSTRAINT "FK_partners_users_UserId";

ALTER TABLE persona_actions DROP CONSTRAINT "FK_persona_actions_action_definitions_ActionDefinitionId";

ALTER TABLE persona_actions DROP CONSTRAINT "FK_persona_actions_personas_PersonaId";

ALTER TABLE persona_knowledge_bases DROP CONSTRAINT "FK_persona_knowledge_bases_knowledge_bases_KnowledgeBaseId";

ALTER TABLE persona_knowledge_bases DROP CONSTRAINT "FK_persona_knowledge_bases_personas_PersonaId";

ALTER TABLE persona_versions DROP CONSTRAINT "FK_persona_versions_personas_PersonaId";

ALTER TABLE configuration.personas DROP CONSTRAINT "FK_personas_users_UserId";

ALTER TABLE sip_connections DROP CONSTRAINT "FK_sip_connections_users_UserId";

ALTER TABLE sip_destinations DROP CONSTRAINT "FK_sip_destinations_users_UserId";

ALTER TABLE billing.subscriptions DROP CONSTRAINT "FK_subscriptions_plans_PlanId";

ALTER TABLE billing.subscriptions DROP CONSTRAINT "FK_subscriptions_users_UserId";

ALTER TABLE billing.usage_records DROP CONSTRAINT "FK_usage_records_call_sessions_CallSessionId";

ALTER TABLE billing.usage_records DROP CONSTRAINT "FK_usage_records_licenses_LicenseId";

ALTER TABLE billing.usage_records DROP CONSTRAINT "FK_usage_records_partners_PartnerId";

ALTER TABLE billing.usage_records DROP CONSTRAINT "FK_usage_records_users_UserId";

ALTER TABLE identity.users DROP CONSTRAINT "FK_users_personas_DefaultPersonaId";

ALTER TABLE workflow_executions DROP CONSTRAINT "FK_workflow_executions_call_sessions_CallSessionId";

ALTER TABLE workflow_executions DROP CONSTRAINT "FK_workflow_executions_workflow_versions_WorkflowVersionId";

ALTER TABLE workflow_versions DROP CONSTRAINT "FK_workflow_versions_workflows_WorkflowId";

ALTER TABLE configuration.workflows DROP CONSTRAINT "FK_workflows_users_UserId";

ALTER TABLE workflow_versions DROP CONSTRAINT "PK_workflow_versions";

ALTER TABLE workflow_executions DROP CONSTRAINT "PK_workflow_executions";

ALTER TABLE sip_destinations DROP CONSTRAINT "PK_sip_destinations";

ALTER TABLE sip_connections DROP CONSTRAINT "PK_sip_connections";

ALTER TABLE persona_versions DROP CONSTRAINT "PK_persona_versions";

ALTER TABLE persona_knowledge_bases DROP CONSTRAINT "PK_persona_knowledge_bases";

ALTER TABLE persona_actions DROP CONSTRAINT "PK_persona_actions";

ALTER TABLE knowledge_documents DROP CONSTRAINT "PK_knowledge_documents";

ALTER TABLE knowledge_chunks DROP CONSTRAINT "PK_knowledge_chunks";

ALTER TABLE human_agents DROP CONSTRAINT "PK_human_agents";

ALTER TABLE human_agent_sessions DROP CONSTRAINT "PK_human_agent_sessions";

ALTER TABLE human_agent_access_keys DROP CONSTRAINT "PK_human_agent_access_keys";

ALTER TABLE call_transfers DROP CONSTRAINT "PK_call_transfers";

ALTER TABLE call_sessions DROP CONSTRAINT "PK_call_sessions";

ALTER TABLE call_records DROP CONSTRAINT "PK_call_records";

ALTER TABLE call_recordings DROP CONSTRAINT "PK_call_recordings";

ALTER TABLE call_participants DROP CONSTRAINT "PK_call_participants";

ALTER TABLE call_legs DROP CONSTRAINT "PK_call_legs";

ALTER TABLE call_handoffs DROP CONSTRAINT "PK_call_handoffs";

ALTER TABLE call_configurations DROP CONSTRAINT "PK_call_configurations";

ALTER TABLE call_configuration_actions DROP CONSTRAINT "PK_call_configuration_actions";

ALTER TABLE agent_users DROP CONSTRAINT "PK_agent_users";

ALTER TABLE action_executions DROP CONSTRAINT "PK_action_executions";

ALTER TABLE action_definitions DROP CONSTRAINT "PK_action_definitions";

ALTER TABLE configuration.workflows DROP CONSTRAINT "PK_workflows";

ALTER TABLE identity.users DROP CONSTRAINT "PK_users";

ALTER TABLE billing.usage_records DROP CONSTRAINT "PK_usage_records";

ALTER TABLE billing.subscriptions DROP CONSTRAINT "PK_subscriptions";

ALTER TABLE billing.plans DROP CONSTRAINT "PK_plans";

ALTER TABLE configuration.personas DROP CONSTRAINT "PK_personas";

ALTER TABLE identity.partners DROP CONSTRAINT "PK_partners";

ALTER TABLE identity.partner_relationships DROP CONSTRAINT "PK_partner_relationships";

ALTER TABLE identity.partner_plans DROP CONSTRAINT "PK_partner_plans";

ALTER TABLE identity.partner_external_customers DROP CONSTRAINT "PK_partner_external_customers";

ALTER TABLE identity.licenses DROP CONSTRAINT "PK_licenses";

ALTER TABLE configuration.knowledge_bases DROP CONSTRAINT "PK_knowledge_bases";

ALTER TABLE identity.api_keys DROP CONSTRAINT "PK_api_keys";

ALTER TABLE workflow_versions RENAME COLUMN "Id" TO id;

ALTER TABLE workflow_versions RENAME COLUMN "WorkflowId" TO workflow_id;

ALTER TABLE workflow_versions RENAME COLUMN "VersionNumber" TO version_number;

ALTER TABLE workflow_versions RENAME COLUMN "IsPublished" TO is_published;

ALTER TABLE workflow_versions RENAME COLUMN "DefinitionJson" TO definition_json;

ALTER TABLE workflow_versions RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_workflow_versions_WorkflowId_VersionNumber" RENAME TO ix_workflow_versions_workflow_id_version_number;

ALTER INDEX "IX_workflow_versions_WorkflowId" RENAME TO ix_workflow_versions_workflow_id;

ALTER INDEX "IX_workflow_versions_IsPublished" RENAME TO ix_workflow_versions_is_published;

ALTER TABLE workflow_executions RENAME COLUMN "Status" TO status;

ALTER TABLE workflow_executions RENAME COLUMN "Error" TO error;

ALTER TABLE workflow_executions RENAME COLUMN "Id" TO id;

ALTER TABLE workflow_executions RENAME COLUMN "WorkflowVersionId" TO workflow_version_id;

ALTER TABLE workflow_executions RENAME COLUMN "StateJson" TO state_json;

ALTER TABLE workflow_executions RENAME COLUMN "StartedAt" TO started_at;

ALTER TABLE workflow_executions RENAME COLUMN "OutputJson" TO output_json;

ALTER TABLE workflow_executions RENAME COLUMN "InputJson" TO input_json;

ALTER TABLE workflow_executions RENAME COLUMN "CompletedAt" TO completed_at;

ALTER TABLE workflow_executions RENAME COLUMN "CallSessionId" TO call_session_id;

ALTER INDEX "IX_workflow_executions_Status" RENAME TO ix_workflow_executions_status;

ALTER INDEX "IX_workflow_executions_WorkflowVersionId" RENAME TO ix_workflow_executions_workflow_version_id;

ALTER INDEX "IX_workflow_executions_CallSessionId" RENAME TO ix_workflow_executions_call_session_id;

ALTER TABLE sip_destinations RENAME COLUMN "Name" TO name;

ALTER TABLE sip_destinations RENAME COLUMN "Description" TO description;

ALTER TABLE sip_destinations RENAME COLUMN "Id" TO id;

ALTER TABLE sip_destinations RENAME COLUMN "UserId" TO user_id;

ALTER TABLE sip_destinations RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE sip_destinations RENAME COLUMN "IsEnabled" TO is_enabled;

ALTER TABLE sip_destinations RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE sip_destinations RENAME COLUMN "CallTo" TO call_to;

ALTER INDEX "IX_sip_destinations_UserId_Name" RENAME TO ix_sip_destinations_user_id_name;

ALTER INDEX "IX_sip_destinations_IsEnabled" RENAME TO ix_sip_destinations_is_enabled;

ALTER TABLE sip_connections RENAME COLUMN "Numbers" TO numbers;

ALTER TABLE sip_connections RENAME COLUMN "Name" TO name;

ALTER TABLE sip_connections RENAME COLUMN "Id" TO id;

ALTER TABLE sip_connections RENAME COLUMN "UserId" TO user_id;

ALTER TABLE sip_connections RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE sip_connections RENAME COLUMN "MaxConcurrentCalls" TO max_concurrent_calls;

ALTER TABLE sip_connections RENAME COLUMN "LkTrunkId" TO lk_trunk_id;

ALTER TABLE sip_connections RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE sip_connections RENAME COLUMN "DispatchRuleId" TO dispatch_rule_id;

ALTER TABLE sip_connections RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE sip_connections RENAME COLUMN "AllowedIps" TO allowed_ips;

ALTER INDEX "IX_sip_connections_UserId_Name" RENAME TO ix_sip_connections_user_id_name;

ALTER INDEX "IX_sip_connections_LkTrunkId" RENAME TO ix_sip_connections_lk_trunk_id;

ALTER INDEX "IX_sip_connections_IsActive" RENAME TO ix_sip_connections_is_active;

ALTER TABLE persona_versions RENAME COLUMN "Id" TO id;

ALTER TABLE persona_versions RENAME COLUMN "VersionNumber" TO version_number;

ALTER TABLE persona_versions RENAME COLUMN "SystemPrompt" TO system_prompt;

ALTER TABLE persona_versions RENAME COLUMN "PersonaId" TO persona_id;

ALTER TABLE persona_versions RENAME COLUMN "IsPublished" TO is_published;

ALTER TABLE persona_versions RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE persona_versions RENAME COLUMN "ConfigurationJson" TO configuration_json;

ALTER INDEX "IX_persona_versions_PersonaId_VersionNumber" RENAME TO ix_persona_versions_persona_id_version_number;

ALTER INDEX "IX_persona_versions_PersonaId" RENAME TO ix_persona_versions_persona_id;

ALTER INDEX "IX_persona_versions_IsPublished" RENAME TO ix_persona_versions_is_published;

ALTER TABLE persona_knowledge_bases RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE persona_knowledge_bases RENAME COLUMN "KnowledgeBaseId" TO knowledge_base_id;

ALTER TABLE persona_knowledge_bases RENAME COLUMN "PersonaId" TO persona_id;

ALTER INDEX "IX_persona_knowledge_bases_KnowledgeBaseId" RENAME TO ix_persona_knowledge_bases_knowledge_base_id;

ALTER TABLE persona_actions RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE persona_actions RENAME COLUMN "ActionDefinitionId" TO action_definition_id;

ALTER TABLE persona_actions RENAME COLUMN "PersonaId" TO persona_id;

ALTER INDEX "IX_persona_actions_ActionDefinitionId" RENAME TO ix_persona_actions_action_definition_id;

ALTER TABLE knowledge_documents RENAME COLUMN "Status" TO status;

ALTER TABLE knowledge_documents RENAME COLUMN "Name" TO name;

ALTER TABLE knowledge_documents RENAME COLUMN "Id" TO id;

ALTER TABLE knowledge_documents RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE knowledge_documents RENAME COLUMN "SourceUri" TO source_uri;

ALTER TABLE knowledge_documents RENAME COLUMN "MetadataJson" TO metadata_json;

ALTER TABLE knowledge_documents RENAME COLUMN "KnowledgeBaseId" TO knowledge_base_id;

ALTER TABLE knowledge_documents RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE knowledge_documents RENAME COLUMN "ContentType" TO content_type;

ALTER INDEX "IX_knowledge_documents_Status" RENAME TO ix_knowledge_documents_status;

ALTER INDEX "IX_knowledge_documents_KnowledgeBaseId" RENAME TO ix_knowledge_documents_knowledge_base_id;

ALTER TABLE knowledge_chunks RENAME COLUMN "Embedding" TO embedding;

ALTER TABLE knowledge_chunks RENAME COLUMN "Content" TO content;

ALTER TABLE knowledge_chunks RENAME COLUMN "Id" TO id;

ALTER TABLE knowledge_chunks RENAME COLUMN "MetadataJson" TO metadata_json;

ALTER TABLE knowledge_chunks RENAME COLUMN "KnowledgeDocumentId" TO knowledge_document_id;

ALTER TABLE knowledge_chunks RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE knowledge_chunks RENAME COLUMN "ChunkIndex" TO chunk_index;

ALTER INDEX "IX_knowledge_chunks_KnowledgeDocumentId_ChunkIndex" RENAME TO ix_knowledge_chunks_knowledge_document_id_chunk_index;

ALTER INDEX "IX_knowledge_chunks_KnowledgeDocumentId" RENAME TO ix_knowledge_chunks_knowledge_document_id;

ALTER TABLE human_agents RENAME COLUMN "Status" TO status;

ALTER TABLE human_agents RENAME COLUMN "Name" TO name;

ALTER TABLE human_agents RENAME COLUMN "Email" TO email;

ALTER TABLE human_agents RENAME COLUMN "Id" TO id;

ALTER TABLE human_agents RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE human_agents RENAME COLUMN "OwnerUserId" TO owner_user_id;

ALTER TABLE human_agents RENAME COLUMN "MaxConcurrentCalls" TO max_concurrent_calls;

ALTER TABLE human_agents RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE human_agents RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE human_agents RENAME COLUMN "ApplicationUserId" TO application_user_id;

ALTER INDEX "IX_human_agents_Status" RENAME TO ix_human_agents_status;

ALTER INDEX "IX_human_agents_OwnerUserId" RENAME TO ix_human_agents_owner_user_id;

ALTER INDEX "IX_human_agents_IsActive" RENAME TO ix_human_agents_is_active;

ALTER INDEX "IX_human_agents_ApplicationUserId" RENAME TO ix_human_agents_application_user_id;

ALTER TABLE human_agent_sessions RENAME COLUMN "Status" TO status;

ALTER TABLE human_agent_sessions RENAME COLUMN "Id" TO id;

ALTER TABLE human_agent_sessions RENAME COLUMN "MetadataJson" TO metadata_json;

ALTER TABLE human_agent_sessions RENAME COLUMN "LivekitIdentity" TO livekit_identity;

ALTER TABLE human_agent_sessions RENAME COLUMN "LastHeartbeatAt" TO last_heartbeat_at;

ALTER TABLE human_agent_sessions RENAME COLUMN "HumanAgentId" TO human_agent_id;

ALTER TABLE human_agent_sessions RENAME COLUMN "DisconnectedAt" TO disconnected_at;

ALTER TABLE human_agent_sessions RENAME COLUMN "ConnectedAt" TO connected_at;

ALTER INDEX "IX_human_agent_sessions_Status" RENAME TO ix_human_agent_sessions_status;

ALTER INDEX "IX_human_agent_sessions_HumanAgentId" RENAME TO ix_human_agent_sessions_human_agent_id;

ALTER INDEX "IX_human_agent_sessions_ConnectedAt" RENAME TO ix_human_agent_sessions_connected_at;

ALTER TABLE human_agent_access_keys RENAME COLUMN "Status" TO status;

ALTER TABLE human_agent_access_keys RENAME COLUMN "Name" TO name;

ALTER TABLE human_agent_access_keys RENAME COLUMN "Id" TO id;

ALTER TABLE human_agent_access_keys RENAME COLUMN "RevokedAt" TO revoked_at;

ALTER TABLE human_agent_access_keys RENAME COLUMN "LastUsedAt" TO last_used_at;

ALTER TABLE human_agent_access_keys RENAME COLUMN "KeyPrefix" TO key_prefix;

ALTER TABLE human_agent_access_keys RENAME COLUMN "KeyHash" TO key_hash;

ALTER TABLE human_agent_access_keys RENAME COLUMN "HumanAgentId" TO human_agent_id;

ALTER TABLE human_agent_access_keys RENAME COLUMN "ExpiresAt" TO expires_at;

ALTER TABLE human_agent_access_keys RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_human_agent_access_keys_Status" RENAME TO ix_human_agent_access_keys_status;

ALTER INDEX "IX_human_agent_access_keys_KeyHash" RENAME TO ix_human_agent_access_keys_key_hash;

ALTER INDEX "IX_human_agent_access_keys_HumanAgentId" RENAME TO ix_human_agent_access_keys_human_agent_id;

ALTER TABLE call_transfers RENAME COLUMN "Status" TO status;

ALTER TABLE call_transfers RENAME COLUMN "Reason" TO reason;

ALTER TABLE call_transfers RENAME COLUMN "Mode" TO mode;

ALTER TABLE call_transfers RENAME COLUMN "Id" TO id;

ALTER TABLE call_transfers RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE call_transfers RENAME COLUMN "ToHumanAgentId" TO to_human_agent_id;

ALTER TABLE call_transfers RENAME COLUMN "TargetType" TO target_type;

ALTER TABLE call_transfers RENAME COLUMN "TargetSnapshotJson" TO target_snapshot_json;

ALTER TABLE call_transfers RENAME COLUMN "RequestedAt" TO requested_at;

ALTER TABLE call_transfers RENAME COLUMN "FromParticipantId" TO from_participant_id;

ALTER TABLE call_transfers RENAME COLUMN "FailureReason" TO failure_reason;

ALTER TABLE call_transfers RENAME COLUMN "FailedAt" TO failed_at;

ALTER TABLE call_transfers RENAME COLUMN "DestinationId" TO destination_id;

ALTER TABLE call_transfers RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE call_transfers RENAME COLUMN "CompletedAt" TO completed_at;

ALTER TABLE call_transfers RENAME COLUMN "CallSessionId" TO call_session_id;

ALTER TABLE call_transfers RENAME COLUMN "AcceptedAt" TO accepted_at;

ALTER INDEX "IX_call_transfers_Status" RENAME TO ix_call_transfers_status;

ALTER INDEX "IX_call_transfers_ToHumanAgentId" RENAME TO ix_call_transfers_to_human_agent_id;

ALTER INDEX "IX_call_transfers_RequestedAt" RENAME TO ix_call_transfers_requested_at;

ALTER INDEX "IX_call_transfers_FromParticipantId" RENAME TO ix_call_transfers_from_participant_id;

ALTER INDEX "IX_call_transfers_DestinationId" RENAME TO ix_call_transfers_destination_id;

ALTER INDEX "IX_call_transfers_CallSessionId" RENAME TO ix_call_transfers_call_session_id;

ALTER TABLE call_sessions RENAME COLUMN "Status" TO status;

ALTER TABLE call_sessions RENAME COLUMN "Direction" TO direction;

ALTER TABLE call_sessions RENAME COLUMN "Id" TO id;

ALTER TABLE call_sessions RENAME COLUMN "WorkflowVersionId" TO workflow_version_id;

ALTER TABLE call_sessions RENAME COLUMN "UserId" TO user_id;

ALTER TABLE call_sessions RENAME COLUMN "StartedAt" TO started_at;

ALTER TABLE call_sessions RENAME COLUMN "PersonaVersionId" TO persona_version_id;

ALTER TABLE call_sessions RENAME COLUMN "OriginSipConnectionId" TO origin_sip_connection_id;

ALTER TABLE call_sessions RENAME COLUMN "MetadataJson" TO metadata_json;

ALTER TABLE call_sessions RENAME COLUMN "LivekitRoomSid" TO livekit_room_sid;

ALTER TABLE call_sessions RENAME COLUMN "LivekitRoomName" TO livekit_room_name;

ALTER TABLE call_sessions RENAME COLUMN "EndedAt" TO ended_at;

ALTER TABLE call_sessions RENAME COLUMN "DurationSeconds" TO duration_seconds;

ALTER TABLE call_sessions RENAME COLUMN "DialedNumber" TO dialed_number;

ALTER TABLE call_sessions RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE call_sessions RENAME COLUMN "CallConfigurationId" TO call_configuration_id;

ALTER TABLE call_sessions RENAME COLUMN "ApiKeyId" TO api_key_id;

ALTER TABLE call_sessions RENAME COLUMN "AnsweredAt" TO answered_at;

ALTER INDEX "IX_call_sessions_Status" RENAME TO ix_call_sessions_status;

ALTER INDEX "IX_call_sessions_WorkflowVersionId" RENAME TO ix_call_sessions_workflow_version_id;

ALTER INDEX "IX_call_sessions_UserId_StartedAt" RENAME TO ix_call_sessions_user_id_started_at;

ALTER INDEX "IX_call_sessions_UserId" RENAME TO ix_call_sessions_user_id;

ALTER INDEX "IX_call_sessions_StartedAt" RENAME TO ix_call_sessions_started_at;

ALTER INDEX "IX_call_sessions_PersonaVersionId" RENAME TO ix_call_sessions_persona_version_id;

ALTER INDEX "IX_call_sessions_OriginSipConnectionId" RENAME TO ix_call_sessions_origin_sip_connection_id;

ALTER INDEX "IX_call_sessions_LivekitRoomName" RENAME TO ix_call_sessions_livekit_room_name;

ALTER INDEX "IX_call_sessions_CallConfigurationId" RENAME TO ix_call_sessions_call_configuration_id;

ALTER INDEX "IX_call_sessions_ApiKeyId" RENAME TO ix_call_sessions_api_key_id;

ALTER TABLE call_records RENAME COLUMN "Summary" TO summary;

ALTER TABLE call_records RENAME COLUMN "Status" TO status;

ALTER TABLE call_records RENAME COLUMN "Id" TO id;

ALTER TABLE call_records RENAME COLUMN "StartTime" TO start_time;

ALTER TABLE call_records RENAME COLUMN "RoomName" TO room_name;

ALTER TABLE call_records RENAME COLUMN "RecordingUrl" TO recording_url;

ALTER TABLE call_records RENAME COLUMN "HandledByAgentId" TO handled_by_agent_id;

ALTER TABLE call_records RENAME COLUMN "EndTime" TO end_time;

ALTER TABLE call_records RENAME COLUMN "CallerId" TO caller_id;

ALTER INDEX "IX_call_records_Status" RENAME TO ix_call_records_status;

ALTER INDEX "IX_call_records_StartTime" RENAME TO ix_call_records_start_time;

ALTER INDEX "IX_call_records_RoomName" RENAME TO ix_call_records_room_name;

ALTER INDEX "IX_call_records_HandledByAgentId" RENAME TO ix_call_records_handled_by_agent_id;

ALTER TABLE call_recordings RENAME COLUMN "Status" TO status;

ALTER TABLE call_recordings RENAME COLUMN "Id" TO id;

ALTER TABLE call_recordings RENAME COLUMN "StorageProvider" TO storage_provider;

ALTER TABLE call_recordings RENAME COLUMN "SizeBytes" TO size_bytes;

ALTER TABLE call_recordings RENAME COLUMN "ObjectKey" TO object_key;

ALTER TABLE call_recordings RENAME COLUMN "DurationSeconds" TO duration_seconds;

ALTER TABLE call_recordings RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE call_recordings RENAME COLUMN "ContentType" TO content_type;

ALTER TABLE call_recordings RENAME COLUMN "CompletedAt" TO completed_at;

ALTER TABLE call_recordings RENAME COLUMN "CallSessionId" TO call_session_id;

ALTER INDEX "IX_call_recordings_Status" RENAME TO ix_call_recordings_status;

ALTER INDEX "IX_call_recordings_ObjectKey" RENAME TO ix_call_recordings_object_key;

ALTER INDEX "IX_call_recordings_CallSessionId" RENAME TO ix_call_recordings_call_session_id;

ALTER TABLE call_participants RENAME COLUMN "Id" TO id;

ALTER TABLE call_participants RENAME COLUMN "ParticipantType" TO participant_type;

ALTER TABLE call_participants RENAME COLUMN "LivekitParticipantSid" TO livekit_participant_sid;

ALTER TABLE call_participants RENAME COLUMN "LivekitIdentity" TO livekit_identity;

ALTER TABLE call_participants RENAME COLUMN "LeftAt" TO left_at;

ALTER TABLE call_participants RENAME COLUMN "JoinedAt" TO joined_at;

ALTER TABLE call_participants RENAME COLUMN "HumanAgentId" TO human_agent_id;

ALTER TABLE call_participants RENAME COLUMN "DisplayName" TO display_name;

ALTER TABLE call_participants RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE call_participants RENAME COLUMN "CallSessionId" TO call_session_id;

ALTER INDEX "IX_call_participants_ParticipantType" RENAME TO ix_call_participants_participant_type;

ALTER INDEX "IX_call_participants_HumanAgentId" RENAME TO ix_call_participants_human_agent_id;

ALTER INDEX "IX_call_participants_CallSessionId" RENAME TO ix_call_participants_call_session_id;

ALTER TABLE call_legs RENAME COLUMN "Kind" TO kind;

ALTER TABLE call_legs RENAME COLUMN "Id" TO id;

ALTER TABLE call_legs RENAME COLUMN "StartedAt" TO started_at;

ALTER TABLE call_legs RENAME COLUMN "ParticipantIdentity" TO participant_identity;

ALTER TABLE call_legs RENAME COLUMN "LegIndex" TO leg_index;

ALTER TABLE call_legs RENAME COLUMN "HangupCause" TO hangup_cause;

ALTER TABLE call_legs RENAME COLUMN "EndedAt" TO ended_at;

ALTER TABLE call_legs RENAME COLUMN "CallSessionId" TO call_session_id;

ALTER TABLE call_legs RENAME COLUMN "AnsweredAt" TO answered_at;

ALTER INDEX "IX_call_legs_Kind" RENAME TO ix_call_legs_kind;

ALTER INDEX "IX_call_legs_CallSessionId_LegIndex" RENAME TO ix_call_legs_call_session_id_leg_index;

ALTER INDEX "IX_call_legs_CallSessionId" RENAME TO ix_call_legs_call_session_id;

ALTER TABLE call_handoffs RENAME COLUMN "Summary" TO summary;

ALTER TABLE call_handoffs RENAME COLUMN "Status" TO status;

ALTER TABLE call_handoffs RENAME COLUMN "Reason" TO reason;

ALTER TABLE call_handoffs RENAME COLUMN "Id" TO id;

ALTER TABLE call_handoffs RENAME COLUMN "ToHumanAgentId" TO to_human_agent_id;

ALTER TABLE call_handoffs RENAME COLUMN "FromParticipantId" TO from_participant_id;

ALTER TABLE call_handoffs RENAME COLUMN "DeliveredAt" TO delivered_at;

ALTER TABLE call_handoffs RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE call_handoffs RENAME COLUMN "ContextDataJson" TO context_data_json;

ALTER TABLE call_handoffs RENAME COLUMN "CallTransferId" TO call_transfer_id;

ALTER TABLE call_handoffs RENAME COLUMN "CallSessionId" TO call_session_id;

ALTER TABLE call_handoffs RENAME COLUMN "AcceptedAt" TO accepted_at;

ALTER INDEX "IX_call_handoffs_Status" RENAME TO ix_call_handoffs_status;

ALTER INDEX "IX_call_handoffs_ToHumanAgentId" RENAME TO ix_call_handoffs_to_human_agent_id;

ALTER INDEX "IX_call_handoffs_FromParticipantId" RENAME TO ix_call_handoffs_from_participant_id;

ALTER INDEX "IX_call_handoffs_CallTransferId" RENAME TO ix_call_handoffs_call_transfer_id;

ALTER INDEX "IX_call_handoffs_CallSessionId" RENAME TO ix_call_handoffs_call_session_id;

ALTER TABLE call_configurations RENAME COLUMN "Name" TO name;

ALTER TABLE call_configurations RENAME COLUMN "Description" TO description;

ALTER TABLE call_configurations RENAME COLUMN "Id" TO id;

ALTER TABLE call_configurations RENAME COLUMN "WorkflowId" TO workflow_id;

ALTER TABLE call_configurations RENAME COLUMN "UserId" TO user_id;

ALTER TABLE call_configurations RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE call_configurations RENAME COLUMN "PersonaId" TO persona_id;

ALTER TABLE call_configurations RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE call_configurations RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE call_configurations RENAME COLUMN "ConfigJson" TO config_json;

ALTER INDEX "IX_call_configurations_WorkflowId" RENAME TO ix_call_configurations_workflow_id;

ALTER INDEX "IX_call_configurations_UserId" RENAME TO ix_call_configurations_user_id;

ALTER INDEX "IX_call_configurations_PersonaId" RENAME TO ix_call_configurations_persona_id;

ALTER INDEX "IX_call_configurations_IsActive" RENAME TO ix_call_configurations_is_active;

ALTER TABLE call_configuration_actions RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE call_configuration_actions RENAME COLUMN "ActionDefinitionId" TO action_definition_id;

ALTER TABLE call_configuration_actions RENAME COLUMN "CallConfigurationId" TO call_configuration_id;

ALTER INDEX "IX_call_configuration_actions_ActionDefinitionId" RENAME TO ix_call_configuration_actions_action_definition_id;

ALTER TABLE agent_users RENAME COLUMN "Username" TO username;

ALTER TABLE agent_users RENAME COLUMN "Status" TO status;

ALTER TABLE agent_users RENAME COLUMN "Id" TO id;

ALTER TABLE agent_users RENAME COLUMN "PasswordHash" TO password_hash;

ALTER TABLE agent_users RENAME COLUMN "IsOnline" TO is_online;

ALTER TABLE agent_users RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_agent_users_Username" RENAME TO ix_agent_users_username;

ALTER INDEX "IX_agent_users_Status" RENAME TO ix_agent_users_status;

ALTER INDEX "IX_agent_users_IsOnline" RENAME TO ix_agent_users_is_online;

ALTER TABLE action_executions RENAME COLUMN "Status" TO status;

ALTER TABLE action_executions RENAME COLUMN "Error" TO error;

ALTER TABLE action_executions RENAME COLUMN "Id" TO id;

ALTER TABLE action_executions RENAME COLUMN "WorkflowExecutionId" TO workflow_execution_id;

ALTER TABLE action_executions RENAME COLUMN "StartedAt" TO started_at;

ALTER TABLE action_executions RENAME COLUMN "OutputJson" TO output_json;

ALTER TABLE action_executions RENAME COLUMN "InputJson" TO input_json;

ALTER TABLE action_executions RENAME COLUMN "CompletedAt" TO completed_at;

ALTER TABLE action_executions RENAME COLUMN "CallSessionId" TO call_session_id;

ALTER TABLE action_executions RENAME COLUMN "ActionDefinitionId" TO action_definition_id;

ALTER INDEX "IX_action_executions_Status" RENAME TO ix_action_executions_status;

ALTER INDEX "IX_action_executions_WorkflowExecutionId" RENAME TO ix_action_executions_workflow_execution_id;

ALTER INDEX "IX_action_executions_CallSessionId" RENAME TO ix_action_executions_call_session_id;

ALTER INDEX "IX_action_executions_ActionDefinitionId" RENAME TO ix_action_executions_action_definition_id;

ALTER TABLE action_definitions RENAME COLUMN "Name" TO name;

ALTER TABLE action_definitions RENAME COLUMN "Description" TO description;

ALTER TABLE action_definitions RENAME COLUMN "Id" TO id;

ALTER TABLE action_definitions RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE action_definitions RENAME COLUMN "OutputSchemaJson" TO output_schema_json;

ALTER TABLE action_definitions RENAME COLUMN "IsSystem" TO is_system;

ALTER TABLE action_definitions RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE action_definitions RENAME COLUMN "InputSchemaJson" TO input_schema_json;

ALTER TABLE action_definitions RENAME COLUMN "DisplayName" TO display_name;

ALTER TABLE action_definitions RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE action_definitions RENAME COLUMN "ConfigurationJson" TO configuration_json;

ALTER TABLE action_definitions RENAME COLUMN "ActionType" TO action_type;

ALTER INDEX "IX_action_definitions_Name" RENAME TO ix_action_definitions_name;

ALTER INDEX "IX_action_definitions_IsActive" RENAME TO ix_action_definitions_is_active;

ALTER INDEX "IX_action_definitions_ActionType" RENAME TO ix_action_definitions_action_type;

ALTER TABLE workflows RENAME COLUMN "Name" TO name;

ALTER TABLE workflows RENAME COLUMN "Description" TO description;

ALTER TABLE workflows RENAME COLUMN "Id" TO id;

ALTER TABLE workflows RENAME COLUMN "UserId" TO user_id;

ALTER TABLE workflows RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE workflows RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE workflows RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_workflows_UserId" RENAME TO ix_workflows_user_id;

ALTER INDEX "IX_workflows_IsActive" RENAME TO ix_workflows_is_active;

ALTER TABLE users RENAME COLUMN "Status" TO status;

ALTER TABLE users RENAME COLUMN "Email" TO email;

ALTER TABLE users RENAME COLUMN "Id" TO id;

ALTER TABLE users RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE users RENAME COLUMN "StandardCredits" TO standard_credits;

ALTER TABLE users RENAME COLUMN "PremiumCredits" TO premium_credits;

ALTER TABLE users RENAME COLUMN "PasswordHash" TO password_hash;

ALTER TABLE users RENAME COLUMN "IsPartner" TO is_partner;

ALTER TABLE users RENAME COLUMN "DisplayName" TO display_name;

ALTER TABLE users RENAME COLUMN "DefaultPersonaId" TO default_persona_id;

ALTER TABLE users RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE users RENAME COLUMN "CompanyName" TO company_name;

ALTER INDEX "IX_users_Status" RENAME TO ix_users_status;

ALTER INDEX "IX_users_Email" RENAME TO ix_users_email;

ALTER INDEX "IX_users_DefaultPersonaId" RENAME TO ix_users_default_persona_id;

ALTER INDEX "IX_users_CreatedAt" RENAME TO ix_users_created_at;

ALTER TABLE usage_records RENAME COLUMN "Unit" TO unit;

ALTER TABLE usage_records RENAME COLUMN "Quantity" TO quantity;

ALTER TABLE usage_records RENAME COLUMN "Id" TO id;

ALTER TABLE usage_records RENAME COLUMN "UserId" TO user_id;

ALTER TABLE usage_records RENAME COLUMN "PartnerId" TO partner_id;

ALTER TABLE usage_records RENAME COLUMN "OccurredAt" TO occurred_at;

ALTER TABLE usage_records RENAME COLUMN "MetricType" TO metric_type;

ALTER TABLE usage_records RENAME COLUMN "MetadataJson" TO metadata_json;

ALTER TABLE usage_records RENAME COLUMN "LicenseId" TO license_id;

ALTER TABLE usage_records RENAME COLUMN "IdempotencyKey" TO idempotency_key;

ALTER TABLE usage_records RENAME COLUMN "CallSessionId" TO call_session_id;

ALTER INDEX "IX_usage_records_UserId_OccurredAt" RENAME TO ix_usage_records_user_id_occurred_at;

ALTER INDEX "IX_usage_records_UserId" RENAME TO ix_usage_records_user_id;

ALTER INDEX "IX_usage_records_PartnerId" RENAME TO ix_usage_records_partner_id;

ALTER INDEX "IX_usage_records_OccurredAt" RENAME TO ix_usage_records_occurred_at;

ALTER INDEX "IX_usage_records_MetricType" RENAME TO ix_usage_records_metric_type;

ALTER INDEX "IX_usage_records_LicenseId" RENAME TO ix_usage_records_license_id;

ALTER INDEX "IX_usage_records_IdempotencyKey" RENAME TO ix_usage_records_idempotency_key;

ALTER INDEX "IX_usage_records_CallSessionId" RENAME TO ix_usage_records_call_session_id;

ALTER TABLE subscriptions RENAME COLUMN "Status" TO status;

ALTER TABLE subscriptions RENAME COLUMN "Id" TO id;

ALTER TABLE subscriptions RENAME COLUMN "UserId" TO user_id;

ALTER TABLE subscriptions RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE subscriptions RENAME COLUMN "TrialEndsAt" TO trial_ends_at;

ALTER TABLE subscriptions RENAME COLUMN "StartsAt" TO starts_at;

ALTER TABLE subscriptions RENAME COLUMN "PlanId" TO plan_id;

ALTER TABLE subscriptions RENAME COLUMN "EndsAt" TO ends_at;

ALTER TABLE subscriptions RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_subscriptions_Status" RENAME TO ix_subscriptions_status;

ALTER INDEX "IX_subscriptions_UserId" RENAME TO ix_subscriptions_user_id;

ALTER INDEX "IX_subscriptions_PlanId" RENAME TO ix_subscriptions_plan_id;

ALTER TABLE plans RENAME COLUMN "Tier" TO tier;

ALTER TABLE plans RENAME COLUMN "Name" TO name;

ALTER TABLE plans RENAME COLUMN "Description" TO description;

ALTER TABLE plans RENAME COLUMN "Id" TO id;

ALTER TABLE plans RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE plans RENAME COLUMN "IsPlatformPlan" TO is_platform_plan;

ALTER TABLE plans RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE plans RENAME COLUMN "EntitlementsJson" TO entitlements_json;

ALTER TABLE plans RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_plans_Tier" RENAME TO ix_plans_tier;

ALTER INDEX "IX_plans_IsActive" RENAME TO ix_plans_is_active;

ALTER TABLE personas RENAME COLUMN "Name" TO name;

ALTER TABLE personas RENAME COLUMN "Description" TO description;

ALTER TABLE personas RENAME COLUMN "Id" TO id;

ALTER TABLE personas RENAME COLUMN "UserId" TO user_id;

ALTER TABLE personas RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE personas RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE personas RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_personas_UserId" RENAME TO ix_personas_user_id;

ALTER INDEX "IX_personas_IsActive" RENAME TO ix_personas_is_active;

ALTER TABLE partners RENAME COLUMN "Website" TO website;

ALTER TABLE partners RENAME COLUMN "Description" TO description;

ALTER TABLE partners RENAME COLUMN "Id" TO id;

ALTER TABLE partners RENAME COLUMN "UserId" TO user_id;

ALTER TABLE partners RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE partners RENAME COLUMN "PhoneNumber" TO phone_number;

ALTER TABLE partners RENAME COLUMN "OrganizationName" TO organization_name;

ALTER TABLE partners RENAME COLUMN "MetadataJson" TO metadata_json;

ALTER TABLE partners RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE partners RENAME COLUMN "CreatedAt" TO created_at;

ALTER TABLE partners RENAME COLUMN "ContactEmail" TO contact_email;

ALTER INDEX "IX_partners_UserId" RENAME TO ix_partners_user_id;

ALTER INDEX "IX_partners_OrganizationName" RENAME TO ix_partners_organization_name;

ALTER TABLE partner_relationships RENAME COLUMN "Status" TO status;

ALTER TABLE partner_relationships RENAME COLUMN "Id" TO id;

ALTER TABLE partner_relationships RENAME COLUMN "UserId" TO user_id;

ALTER TABLE partner_relationships RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE partner_relationships RENAME COLUMN "PartnerId" TO partner_id;

ALTER TABLE partner_relationships RENAME COLUMN "MetadataJson" TO metadata_json;

ALTER TABLE partner_relationships RENAME COLUMN "CustomerUserId" TO customer_user_id;

ALTER TABLE partner_relationships RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_partner_relationships_Status" RENAME TO ix_partner_relationships_status;

ALTER INDEX "IX_partner_relationships_UserId" RENAME TO ix_partner_relationships_user_id;

ALTER INDEX "IX_partner_relationships_PartnerId_CustomerUserId" RENAME TO ix_partner_relationships_partner_id_customer_user_id;

ALTER INDEX "IX_partner_relationships_PartnerId" RENAME TO ix_partner_relationships_partner_id;

ALTER INDEX "IX_partner_relationships_CustomerUserId" RENAME TO ix_partner_relationships_customer_user_id;

ALTER TABLE partner_plans RENAME COLUMN "Name" TO name;

ALTER TABLE partner_plans RENAME COLUMN "Description" TO description;

ALTER TABLE partner_plans RENAME COLUMN "Id" TO id;

ALTER TABLE partner_plans RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE partner_plans RENAME COLUMN "PartnerId" TO partner_id;

ALTER TABLE partner_plans RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE partner_plans RENAME COLUMN "EntitlementsJson" TO entitlements_json;

ALTER TABLE partner_plans RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_partner_plans_PartnerId" RENAME TO ix_partner_plans_partner_id;

ALTER INDEX "IX_partner_plans_IsActive" RENAME TO ix_partner_plans_is_active;

ALTER TABLE partner_external_customers RENAME COLUMN "Id" TO id;

ALTER TABLE partner_external_customers RENAME COLUMN "PlatformUserId" TO platform_user_id;

ALTER TABLE partner_external_customers RENAME COLUMN "PartnerId" TO partner_id;

ALTER TABLE partner_external_customers RENAME COLUMN "ExternalCustomerId" TO external_customer_id;

ALTER TABLE partner_external_customers RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_partner_external_customers_PlatformUserId" RENAME TO ix_partner_external_customers_platform_user_id;

ALTER INDEX "IX_partner_external_customers_PartnerId_ExternalCustomerId" RENAME TO ix_partner_external_customers_partner_id_external_customer_id;

ALTER TABLE licenses RENAME COLUMN "Status" TO status;

ALTER TABLE licenses RENAME COLUMN "Id" TO id;

ALTER TABLE licenses RENAME COLUMN "UserId" TO user_id;

ALTER TABLE licenses RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE licenses RENAME COLUMN "StartsAt" TO starts_at;

ALTER TABLE licenses RENAME COLUMN "PartnerPlanId" TO partner_plan_id;

ALTER TABLE licenses RENAME COLUMN "PartnerId" TO partner_id;

ALTER TABLE licenses RENAME COLUMN "MetadataJson" TO metadata_json;

ALTER TABLE licenses RENAME COLUMN "LimitsJson" TO limits_json;

ALTER TABLE licenses RENAME COLUMN "EndsAt" TO ends_at;

ALTER TABLE licenses RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_licenses_Status" RENAME TO ix_licenses_status;

ALTER INDEX "IX_licenses_UserId" RENAME TO ix_licenses_user_id;

ALTER INDEX "IX_licenses_StartsAt" RENAME TO ix_licenses_starts_at;

ALTER INDEX "IX_licenses_PartnerPlanId" RENAME TO ix_licenses_partner_plan_id;

ALTER INDEX "IX_licenses_PartnerId" RENAME TO ix_licenses_partner_id;

ALTER TABLE knowledge_bases RENAME COLUMN "Name" TO name;

ALTER TABLE knowledge_bases RENAME COLUMN "Description" TO description;

ALTER TABLE knowledge_bases RENAME COLUMN "Id" TO id;

ALTER TABLE knowledge_bases RENAME COLUMN "UserId" TO user_id;

ALTER TABLE knowledge_bases RENAME COLUMN "UpdatedAt" TO updated_at;

ALTER TABLE knowledge_bases RENAME COLUMN "IsActive" TO is_active;

ALTER TABLE knowledge_bases RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_knowledge_bases_UserId" RENAME TO ix_knowledge_bases_user_id;

ALTER INDEX "IX_knowledge_bases_IsActive" RENAME TO ix_knowledge_bases_is_active;

ALTER TABLE api_keys RENAME COLUMN "Status" TO status;

ALTER TABLE api_keys RENAME COLUMN "Scopes" TO scopes;

ALTER TABLE api_keys RENAME COLUMN "Name" TO name;

ALTER TABLE api_keys RENAME COLUMN "Id" TO id;

ALTER TABLE api_keys RENAME COLUMN "UserId" TO user_id;

ALTER TABLE api_keys RENAME COLUMN "RevokedAt" TO revoked_at;

ALTER TABLE api_keys RENAME COLUMN "LastUsedAt" TO last_used_at;

ALTER TABLE api_keys RENAME COLUMN "KeyPrefix" TO key_prefix;

ALTER TABLE api_keys RENAME COLUMN "KeyHash" TO key_hash;

ALTER TABLE api_keys RENAME COLUMN "ExpiresAt" TO expires_at;

ALTER TABLE api_keys RENAME COLUMN "CreatedAt" TO created_at;

ALTER INDEX "IX_api_keys_Status" RENAME TO ix_api_keys_status;

ALTER INDEX "IX_api_keys_UserId" RENAME TO ix_api_keys_user_id;

ALTER INDEX "IX_api_keys_KeyHash" RENAME TO ix_api_keys_key_hash;

DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'access_key_status') THEN
        CREATE SCHEMA access_key_status;
    END IF;
END $EF$;

CREATE TYPE access_key_status.access_key_status AS ENUM ('active', 'revoked', 'expired');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'action_execution_status') THEN
        CREATE SCHEMA action_execution_status;
    END IF;
END $EF$;

CREATE TYPE action_execution_status.action_execution_status AS ENUM ('pending', 'running', 'completed', 'failed');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'action_type') THEN
        CREATE SCHEMA action_type;
    END IF;
END $EF$;

CREATE TYPE action_type.action_type AS ENUM ('system', 'workflow', 'integration', 'webhook');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'api_key_status') THEN
        CREATE SCHEMA api_key_status;
    END IF;
END $EF$;

CREATE TYPE api_key_status.api_key_status AS ENUM ('active', 'revoked', 'expired');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'call_direction') THEN
        CREATE SCHEMA call_direction;
    END IF;
END $EF$;

CREATE TYPE call_direction.call_direction AS ENUM ('inbound', 'outbound');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'call_session_status') THEN
        CREATE SCHEMA call_session_status;
    END IF;
END $EF$;

CREATE TYPE call_session_status.call_session_status AS ENUM ('queued', 'ringing', 'active', 'transferred', 'completed', 'failed', 'cancelled');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'call_transfer_status') THEN
        CREATE SCHEMA call_transfer_status;
    END IF;
END $EF$;

CREATE TYPE call_transfer_status.call_transfer_status AS ENUM ('requested', 'ringing', 'accepted', 'completed', 'rejected', 'failed', 'cancelled');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'handoff_status') THEN
        CREATE SCHEMA handoff_status;
    END IF;
END $EF$;

CREATE TYPE handoff_status.handoff_status AS ENUM ('pending', 'delivered', 'accepted', 'expired');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'human_agent_status') THEN
        CREATE SCHEMA human_agent_status;
    END IF;
END $EF$;

CREATE TYPE human_agent_status.human_agent_status AS ENUM ('offline', 'available', 'break', 'not_ready', 'in_call');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'license_status') THEN
        CREATE SCHEMA license_status;
    END IF;
END $EF$;

CREATE TYPE license_status.license_status AS ENUM ('active', 'inactive', 'expired', 'cancelled', 'suspended');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'metric_type') THEN
        CREATE SCHEMA metric_type;
    END IF;
END $EF$;

CREATE TYPE metric_type.metric_type AS ENUM ('call_duration', 'call_minutes', 'transfer_count', 'recording_minutes', 'agent_session_minutes');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'participant_type') THEN
        CREATE SCHEMA participant_type;
    END IF;
END $EF$;

CREATE TYPE participant_type.participant_type AS ENUM ('customer', 'ai_agent', 'human_agent');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'partner_relationship_status') THEN
        CREATE SCHEMA partner_relationship_status;
    END IF;
END $EF$;

CREATE TYPE partner_relationship_status.partner_relationship_status AS ENUM ('active', 'inactive', 'suspended');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'plan_tier') THEN
        CREATE SCHEMA plan_tier;
    END IF;
END $EF$;

CREATE TYPE plan_tier.plan_tier AS ENUM ('free', 'starter', 'growth', 'enterprise');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'recording_status') THEN
        CREATE SCHEMA recording_status;
    END IF;
END $EF$;

CREATE TYPE recording_status.recording_status AS ENUM ('pending', 'in_progress', 'completed', 'failed');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'subscription_status') THEN
        CREATE SCHEMA subscription_status;
    END IF;
END $EF$;

CREATE TYPE subscription_status.subscription_status AS ENUM ('active', 'past_due', 'cancelled', 'expired', 'trialing');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'user_status') THEN
        CREATE SCHEMA user_status;
    END IF;
END $EF$;

CREATE TYPE user_status.user_status AS ENUM ('active', 'inactive', 'suspended');
DO $EF$
BEGIN
    IF NOT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'workflow_execution_status') THEN
        CREATE SCHEMA workflow_execution_status;
    END IF;
END $EF$;

CREATE TYPE workflow_execution_status.workflow_execution_status AS ENUM ('pending', 'running', 'completed', 'failed');
DROP TYPE access_key_status;
DROP TYPE action_execution_status;
DROP TYPE action_type;
DROP TYPE api_key_status;
DROP TYPE call_direction;
DROP TYPE call_session_status;
DROP TYPE call_transfer_status;
DROP TYPE handoff_status;
DROP TYPE human_agent_status;
DROP TYPE license_status;
DROP TYPE metric_type;
DROP TYPE participant_type;
DROP TYPE partner_relationship_status;
DROP TYPE plan_tier;
DROP TYPE recording_status;
DROP TYPE subscription_status;
DROP TYPE user_status;
DROP TYPE workflow_execution_status;

ALTER TABLE human_agents ALTER COLUMN status TYPE text;

ALTER TABLE human_agent_access_keys ALTER COLUMN status TYPE text;

ALTER TABLE call_transfers ALTER COLUMN status TYPE text;

ALTER TABLE call_sessions ALTER COLUMN status TYPE text;

ALTER TABLE call_sessions ALTER COLUMN direction TYPE text;

ALTER TABLE call_recordings ALTER COLUMN status TYPE text;

ALTER TABLE call_participants ALTER COLUMN participant_type TYPE text;

ALTER TABLE call_handoffs ALTER COLUMN status TYPE text;

ALTER TABLE action_executions ALTER COLUMN status TYPE text;

ALTER TABLE action_definitions ALTER COLUMN action_type TYPE text;

ALTER TABLE users ALTER COLUMN status TYPE text;

ALTER TABLE users ADD refresh_token text;

ALTER TABLE users ADD refresh_token_expiry_time timestamp with time zone;

ALTER TABLE usage_records ALTER COLUMN metric_type TYPE text;

ALTER TABLE subscriptions ALTER COLUMN status TYPE text;

ALTER TABLE plans ALTER COLUMN tier TYPE text;

ALTER TABLE partner_relationships ALTER COLUMN status TYPE text;

ALTER TABLE licenses ALTER COLUMN status TYPE text;

ALTER TABLE api_keys ALTER COLUMN status TYPE text;

ALTER TABLE workflow_versions ADD CONSTRAINT pk_workflow_versions PRIMARY KEY (id);

ALTER TABLE workflow_executions ADD CONSTRAINT pk_workflow_executions PRIMARY KEY (id);

ALTER TABLE sip_destinations ADD CONSTRAINT pk_sip_destinations PRIMARY KEY (id);

ALTER TABLE sip_connections ADD CONSTRAINT pk_sip_connections PRIMARY KEY (id);

ALTER TABLE persona_versions ADD CONSTRAINT pk_persona_versions PRIMARY KEY (id);

ALTER TABLE persona_knowledge_bases ADD CONSTRAINT pk_persona_knowledge_bases PRIMARY KEY (persona_id, knowledge_base_id);

ALTER TABLE persona_actions ADD CONSTRAINT pk_persona_actions PRIMARY KEY (persona_id, action_definition_id);

ALTER TABLE knowledge_documents ADD CONSTRAINT pk_knowledge_documents PRIMARY KEY (id);

ALTER TABLE knowledge_chunks ADD CONSTRAINT pk_knowledge_chunks PRIMARY KEY (id);

ALTER TABLE human_agents ADD CONSTRAINT pk_human_agents PRIMARY KEY (id);

ALTER TABLE human_agent_sessions ADD CONSTRAINT pk_human_agent_sessions PRIMARY KEY (id);

ALTER TABLE human_agent_access_keys ADD CONSTRAINT pk_human_agent_access_keys PRIMARY KEY (id);

ALTER TABLE call_transfers ADD CONSTRAINT pk_call_transfers PRIMARY KEY (id);

ALTER TABLE call_sessions ADD CONSTRAINT pk_call_sessions PRIMARY KEY (id);

ALTER TABLE call_records ADD CONSTRAINT pk_call_records PRIMARY KEY (id);

ALTER TABLE call_recordings ADD CONSTRAINT pk_call_recordings PRIMARY KEY (id);

ALTER TABLE call_participants ADD CONSTRAINT pk_call_participants PRIMARY KEY (id);

ALTER TABLE call_legs ADD CONSTRAINT pk_call_legs PRIMARY KEY (id);

ALTER TABLE call_handoffs ADD CONSTRAINT pk_call_handoffs PRIMARY KEY (id);

ALTER TABLE call_configurations ADD CONSTRAINT pk_call_configurations PRIMARY KEY (id);

ALTER TABLE call_configuration_actions ADD CONSTRAINT pk_call_configuration_actions PRIMARY KEY (call_configuration_id, action_definition_id);

ALTER TABLE agent_users ADD CONSTRAINT pk_agent_users PRIMARY KEY (id);

ALTER TABLE action_executions ADD CONSTRAINT pk_action_executions PRIMARY KEY (id);

ALTER TABLE action_definitions ADD CONSTRAINT pk_action_definitions PRIMARY KEY (id);

ALTER TABLE workflows ADD CONSTRAINT pk_workflows PRIMARY KEY (id);

ALTER TABLE users ADD CONSTRAINT pk_users PRIMARY KEY (id);

ALTER TABLE usage_records ADD CONSTRAINT pk_usage_records PRIMARY KEY (id);

ALTER TABLE subscriptions ADD CONSTRAINT pk_subscriptions PRIMARY KEY (id);

ALTER TABLE plans ADD CONSTRAINT pk_plans PRIMARY KEY (id);

ALTER TABLE personas ADD CONSTRAINT pk_personas PRIMARY KEY (id);

ALTER TABLE partners ADD CONSTRAINT pk_partners PRIMARY KEY (id);

ALTER TABLE partner_relationships ADD CONSTRAINT pk_partner_relationships PRIMARY KEY (id);

ALTER TABLE partner_plans ADD CONSTRAINT pk_partner_plans PRIMARY KEY (id);

ALTER TABLE partner_external_customers ADD CONSTRAINT pk_partner_external_customers PRIMARY KEY (id);

ALTER TABLE licenses ADD CONSTRAINT pk_licenses PRIMARY KEY (id);

ALTER TABLE knowledge_bases ADD CONSTRAINT pk_knowledge_bases PRIMARY KEY (id);

ALTER TABLE api_keys ADD CONSTRAINT pk_api_keys PRIMARY KEY (id);

UPDATE action_definitions SET action_type = 'system'
WHERE id = 'a0000000-0000-0000-0000-000000000001';

UPDATE action_definitions SET action_type = 'system'
WHERE id = 'a0000000-0000-0000-0000-000000000002';

UPDATE agent_users SET created_at = TIMESTAMPTZ '2026-08-31T10:54:53.939099Z'
WHERE id = 1;

ALTER TABLE action_executions ADD CONSTRAINT fk_action_executions_action_definitions_action_definition_id FOREIGN KEY (action_definition_id) REFERENCES action_definitions (id) ON DELETE CASCADE;

ALTER TABLE action_executions ADD CONSTRAINT fk_action_executions_call_sessions_call_session_id FOREIGN KEY (call_session_id) REFERENCES call_sessions (id) ON DELETE CASCADE;

ALTER TABLE action_executions ADD CONSTRAINT fk_action_executions_workflow_executions_workflow_execution_id FOREIGN KEY (workflow_execution_id) REFERENCES workflow_executions (id) ON DELETE SET NULL;

ALTER TABLE api_keys ADD CONSTRAINT fk_api_keys_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE call_configuration_actions ADD CONSTRAINT fk_call_configuration_actions_action_definitions_action_defini FOREIGN KEY (action_definition_id) REFERENCES action_definitions (id) ON DELETE CASCADE;

ALTER TABLE call_configuration_actions ADD CONSTRAINT fk_call_configuration_actions_call_configurations_call_configu FOREIGN KEY (call_configuration_id) REFERENCES call_configurations (id) ON DELETE CASCADE;

ALTER TABLE call_configurations ADD CONSTRAINT fk_call_configurations_personas_persona_id FOREIGN KEY (persona_id) REFERENCES personas (id) ON DELETE SET NULL;

ALTER TABLE call_configurations ADD CONSTRAINT fk_call_configurations_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE call_configurations ADD CONSTRAINT fk_call_configurations_workflows_workflow_id FOREIGN KEY (workflow_id) REFERENCES workflows (id) ON DELETE SET NULL;

ALTER TABLE call_handoffs ADD CONSTRAINT fk_call_handoffs_call_participants_from_participant_id FOREIGN KEY (from_participant_id) REFERENCES call_participants (id) ON DELETE SET NULL;

ALTER TABLE call_handoffs ADD CONSTRAINT fk_call_handoffs_call_sessions_call_session_id FOREIGN KEY (call_session_id) REFERENCES call_sessions (id) ON DELETE CASCADE;

ALTER TABLE call_handoffs ADD CONSTRAINT fk_call_handoffs_call_transfers_call_transfer_id FOREIGN KEY (call_transfer_id) REFERENCES call_transfers (id) ON DELETE CASCADE;

ALTER TABLE call_handoffs ADD CONSTRAINT fk_call_handoffs_human_agents_to_human_agent_id FOREIGN KEY (to_human_agent_id) REFERENCES human_agents (id) ON DELETE CASCADE;

ALTER TABLE call_legs ADD CONSTRAINT fk_call_legs_call_sessions_call_session_id FOREIGN KEY (call_session_id) REFERENCES call_sessions (id) ON DELETE CASCADE;

ALTER TABLE call_participants ADD CONSTRAINT fk_call_participants_call_sessions_call_session_id FOREIGN KEY (call_session_id) REFERENCES call_sessions (id) ON DELETE CASCADE;

ALTER TABLE call_participants ADD CONSTRAINT fk_call_participants_human_agents_human_agent_id FOREIGN KEY (human_agent_id) REFERENCES human_agents (id) ON DELETE SET NULL;

ALTER TABLE call_recordings ADD CONSTRAINT fk_call_recordings_call_sessions_call_session_id FOREIGN KEY (call_session_id) REFERENCES call_sessions (id) ON DELETE CASCADE;

ALTER TABLE call_records ADD CONSTRAINT fk_call_records_agent_users_handled_by_agent_id FOREIGN KEY (handled_by_agent_id) REFERENCES agent_users (id);

ALTER TABLE call_sessions ADD CONSTRAINT fk_call_sessions_api_keys_api_key_id FOREIGN KEY (api_key_id) REFERENCES api_keys (id) ON DELETE SET NULL;

ALTER TABLE call_sessions ADD CONSTRAINT fk_call_sessions_call_configurations_call_configuration_id FOREIGN KEY (call_configuration_id) REFERENCES call_configurations (id) ON DELETE SET NULL;

ALTER TABLE call_sessions ADD CONSTRAINT fk_call_sessions_persona_versions_persona_version_id FOREIGN KEY (persona_version_id) REFERENCES persona_versions (id) ON DELETE SET NULL;

ALTER TABLE call_sessions ADD CONSTRAINT fk_call_sessions_sip_connections_origin_sip_connection_id FOREIGN KEY (origin_sip_connection_id) REFERENCES sip_connections (id) ON DELETE SET NULL;

ALTER TABLE call_sessions ADD CONSTRAINT fk_call_sessions_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE call_sessions ADD CONSTRAINT fk_call_sessions_workflow_versions_workflow_version_id FOREIGN KEY (workflow_version_id) REFERENCES workflow_versions (id) ON DELETE SET NULL;

ALTER TABLE call_transfers ADD CONSTRAINT fk_call_transfers_call_participants_from_participant_id FOREIGN KEY (from_participant_id) REFERENCES call_participants (id) ON DELETE SET NULL;

ALTER TABLE call_transfers ADD CONSTRAINT fk_call_transfers_call_sessions_call_session_id FOREIGN KEY (call_session_id) REFERENCES call_sessions (id) ON DELETE CASCADE;

ALTER TABLE call_transfers ADD CONSTRAINT fk_call_transfers_human_agents_to_human_agent_id FOREIGN KEY (to_human_agent_id) REFERENCES human_agents (id) ON DELETE SET NULL;

ALTER TABLE call_transfers ADD CONSTRAINT fk_call_transfers_sip_destinations_destination_id FOREIGN KEY (destination_id) REFERENCES sip_destinations (id) ON DELETE SET NULL;

ALTER TABLE human_agent_access_keys ADD CONSTRAINT fk_human_agent_access_keys_human_agents_human_agent_id FOREIGN KEY (human_agent_id) REFERENCES human_agents (id) ON DELETE CASCADE;

ALTER TABLE human_agent_sessions ADD CONSTRAINT fk_human_agent_sessions_human_agents_human_agent_id FOREIGN KEY (human_agent_id) REFERENCES human_agents (id) ON DELETE CASCADE;

ALTER TABLE human_agents ADD CONSTRAINT fk_human_agents_users_application_user_id FOREIGN KEY (application_user_id) REFERENCES users (id) ON DELETE SET NULL;

ALTER TABLE human_agents ADD CONSTRAINT fk_human_agents_users_owner_user_id FOREIGN KEY (owner_user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE knowledge_bases ADD CONSTRAINT fk_knowledge_bases_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE knowledge_chunks ADD CONSTRAINT fk_knowledge_chunks_knowledge_documents_knowledge_document_id FOREIGN KEY (knowledge_document_id) REFERENCES knowledge_documents (id) ON DELETE CASCADE;

ALTER TABLE knowledge_documents ADD CONSTRAINT fk_knowledge_documents_knowledge_bases_knowledge_base_id FOREIGN KEY (knowledge_base_id) REFERENCES knowledge_bases (id) ON DELETE CASCADE;

ALTER TABLE licenses ADD CONSTRAINT fk_licenses_partner_plans_partner_plan_id FOREIGN KEY (partner_plan_id) REFERENCES partner_plans (id) ON DELETE SET NULL;

ALTER TABLE licenses ADD CONSTRAINT fk_licenses_partners_partner_id FOREIGN KEY (partner_id) REFERENCES partners (id) ON DELETE SET NULL;

ALTER TABLE licenses ADD CONSTRAINT fk_licenses_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE partner_external_customers ADD CONSTRAINT fk_partner_external_customers_partners_partner_id FOREIGN KEY (partner_id) REFERENCES partners (id) ON DELETE CASCADE;

ALTER TABLE partner_external_customers ADD CONSTRAINT fk_partner_external_customers_users_platform_user_id FOREIGN KEY (platform_user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE partner_plans ADD CONSTRAINT fk_partner_plans_partners_partner_id FOREIGN KEY (partner_id) REFERENCES partners (id) ON DELETE CASCADE;

ALTER TABLE partner_relationships ADD CONSTRAINT fk_partner_relationships_partners_partner_id FOREIGN KEY (partner_id) REFERENCES partners (id) ON DELETE CASCADE;

ALTER TABLE partner_relationships ADD CONSTRAINT fk_partner_relationships_users_customer_user_id FOREIGN KEY (customer_user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE partner_relationships ADD CONSTRAINT fk_partner_relationships_users_user_id FOREIGN KEY (user_id) REFERENCES users (id);

ALTER TABLE partners ADD CONSTRAINT fk_partners_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE persona_actions ADD CONSTRAINT fk_persona_actions_action_definitions_action_definition_id FOREIGN KEY (action_definition_id) REFERENCES action_definitions (id) ON DELETE CASCADE;

ALTER TABLE persona_actions ADD CONSTRAINT fk_persona_actions_personas_persona_id FOREIGN KEY (persona_id) REFERENCES personas (id) ON DELETE CASCADE;

ALTER TABLE persona_knowledge_bases ADD CONSTRAINT fk_persona_knowledge_bases_knowledge_bases_knowledge_base_id FOREIGN KEY (knowledge_base_id) REFERENCES knowledge_bases (id) ON DELETE CASCADE;

ALTER TABLE persona_knowledge_bases ADD CONSTRAINT fk_persona_knowledge_bases_personas_persona_id FOREIGN KEY (persona_id) REFERENCES personas (id) ON DELETE CASCADE;

ALTER TABLE persona_versions ADD CONSTRAINT fk_persona_versions_personas_persona_id FOREIGN KEY (persona_id) REFERENCES personas (id) ON DELETE CASCADE;

ALTER TABLE personas ADD CONSTRAINT fk_personas_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE sip_connections ADD CONSTRAINT fk_sip_connections_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE sip_destinations ADD CONSTRAINT fk_sip_destinations_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE subscriptions ADD CONSTRAINT fk_subscriptions_plans_plan_id FOREIGN KEY (plan_id) REFERENCES plans (id) ON DELETE CASCADE;

ALTER TABLE subscriptions ADD CONSTRAINT fk_subscriptions_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE usage_records ADD CONSTRAINT fk_usage_records_call_sessions_call_session_id FOREIGN KEY (call_session_id) REFERENCES call_sessions (id) ON DELETE SET NULL;

ALTER TABLE usage_records ADD CONSTRAINT fk_usage_records_licenses_license_id FOREIGN KEY (license_id) REFERENCES licenses (id) ON DELETE SET NULL;

ALTER TABLE usage_records ADD CONSTRAINT fk_usage_records_partners_partner_id FOREIGN KEY (partner_id) REFERENCES partners (id) ON DELETE SET NULL;

ALTER TABLE usage_records ADD CONSTRAINT fk_usage_records_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE users ADD CONSTRAINT fk_users_personas_default_persona_id FOREIGN KEY (default_persona_id) REFERENCES personas (id) ON DELETE SET NULL;

ALTER TABLE workflow_executions ADD CONSTRAINT fk_workflow_executions_call_sessions_call_session_id FOREIGN KEY (call_session_id) REFERENCES call_sessions (id) ON DELETE SET NULL;

ALTER TABLE workflow_executions ADD CONSTRAINT fk_workflow_executions_workflow_versions_workflow_version_id FOREIGN KEY (workflow_version_id) REFERENCES workflow_versions (id) ON DELETE CASCADE;

ALTER TABLE workflow_versions ADD CONSTRAINT fk_workflow_versions_workflows_workflow_id FOREIGN KEY (workflow_id) REFERENCES workflows (id) ON DELETE CASCADE;

ALTER TABLE workflows ADD CONSTRAINT fk_workflows_users_user_id FOREIGN KEY (user_id) REFERENCES users (id) ON DELETE CASCADE;

INSERT INTO "__EFMigrationsHistory" (migration_id, product_version)
VALUES ('20260831105455_AddUserRefreshToken', '9.0.1');

COMMIT;


